$white: #ffffff;

.default-btn {
  font-size: 18px;
  background: $white;
  border: 1px solid #a4d55d;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px 0 20px 0;
  width: 152px;
  &:hover {
    color: #696969;
  }
}

.green-btn {
  text-align: center;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: #a4d55d;
  border-radius: 7px;
  box-sizing: border-box;

  padding: 24px 60px 24px 60px;
  color: $white;
  transition: all 0.3s ease;
  border: none;
  &:hover {
    background: #4e6626;
  }
}

.form-btn {
  color: $white;
  background: #a4d55d;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  width: 400px;
  border: none;
  transition: all 0.3s ease;
  &:hover {
    background: rgba(156, 207, 92, 1);
    opacity: 0.7;
  }
}

.login-form {
  color: $white;
  background: #a4d55d;
  font-size: 15px;
  font-weight: 500;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 100%;
  padding: 10px 0 10px 0;
  border: none;
  transition: all 0.3s ease;
  margin: 15px 0 10px 0;
  &:hover {
    background: rgba(156, 207, 92, 1);
    opacity: 0.7;
  }
}

.login-confirm-btn {
  font-size: 15px;
  color: $white;
  background: #a4d55d;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 15px 100px 15px 100px;
  transition: all 0.3s ease;
  border: none;
  &:hover {
    background: rgba(156, 207, 92, 1);
    opacity: 0.7;
  }
}
