.navbar {
  margin: 20px 0 0 0;
  .nav__item {
    margin: 0 20px 0 20px;
    a {
      font-family: 'Roboto';
      font-size: 18px;
      &:hover {
        color: #696969;
      }
    }
  }
  .navbar__center {
    margin: 0 60px 0 0;
  }
  .default-btn {
    margin: 0 0 0 30px;
  }
  .logo__svg {
    max-width: 226px;
    min-width: 226px;
    .cls-1 {
      font-size: 39px;
      fill: #a3cf60;
      font-family: BookmanOldStyle-Bold, Bookman Old Style;
      font-weight: 700;
    }
    .cls-2 {
      fill: #2f434c;
    }
  }
}
